.account-nav {
  width: 100%;
  height: 4.575em;
  background-color: rgba(0,0,0,.7);
  background:-webkit-linear-gradient(bottom,rgba(0,0,0,.7) 80%, rgba(0,0,0,.7) 80%);
  background:-o-linear-gradient(bottom,rgba(0,0,0,.7) 80%, rgba(0,0,0,.7) 80%);
  background:-moz-linear-gradient(bottom,rgba(0,0,0,.7) 80%, rgba(0,0,0,.7) 80%);
  vertical-align: middle;
  position: fixed;
  z-index: 10;
}

.acount-nav ul {
  display: inline-block;
  list-style: none;
  clear: both;
  margin: 0;
}

.account-nav-logo a {
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
}

.account-nav-logo a:hover {
  cursor: pointer;
  color: #fff;
  opacity: 1.2;
}

.account-nav ul li {
  text-decoration: none;
  display: inline-block;
  font-family: 'Open Sans',sans-serif;
  font-size: .9rem;
  text-transform: uppercase;
  margin-right: 1.2em;
  font-weight: 300;
  vertical-align: bottom;
}

.account-nav ul li a {
  color: #fff;
}

.account-nav ul li:nth-of-type(6){
  margin-right: 0;
}

.account-nav-left {
 display: inline=block;
  
}
 
.account-nav-left ul {
  margin: -70px 0px 0 125px !important;
}

.account-nav-left ul li {
  opacity: .75;
}

.account-nav ul li:hover {
  cursor: pointer;
  opacity: 1.5;
}

.account-nav-right {
  position: fixed;
  top: 2px;
  right: 50px;
}

.account-nav-right ul li{
  color: #fff;
  margin: 0;
  padding: 10px;
  display: inline-block;
  background-color: #000;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  width: 4.3em;
  font-family: 'Open Sans',sans-serif;
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 300;
  
}

.account-nav-right a {
  padding-left: 5px;
}

.account-nav-right ul li:hover {
  cursor: pointer;
  opacity: .6;
}

.main-edit-page {
  top: 18px !important;
  right: 150px !important;
  margin-left: 261px !important;
  font-size: 1.3rem !important;
  padding: 10px !important;
  z-index: 10;
}

.main-edit-page:hover {
  color: #fff;
  cursor: pointer;
  opacity: .6;
}

.preferences-edit:hover {
  color: #fff;
  cursor: pointer;
  opacity: .6;
}

.dropdownList {
  display: block;
  position: fixed;
  top: 73px;
  right: 0px;
  background-color: rgba(35,33,33,.8);
  background:-webkit-linear-gradient(bottom,rgba(35,33,33,.8) 80%, rgba(35,33,33,.8) 80%);
  background:-o-linear-gradient(bottom,rgba(35,33,33,.8) 80%, rgba(35,33,33,.8) 80%);
  background:-moz-linear-gradient(bottom,rgba(35,33,33,.8) 80%, rgba(35,33,33,.8) 80%);
  border-bottom-left-radius: 1em;
}

.dropdownList li {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 5px;
}

/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */

@media only screen and (max-width: 900px) {
  .account-nav ul li {
    font-size: 1rem;
  }
  .account-nav-right {
    position: fixed;
    top: 2px;
    right: 30px;
  }
  
  .account-nav-right ul li{
    padding: 10px 5px;
    width: 3.2em;
    font-size: 1rem;
  }
  
  .account-nav-right a {
    padding-left: 5px;
  }
  
  .main-edit-page {
    font-size: 1rem !important;
    padding: 10px 5px !important;
    right: 110px !important;
    margin-left: 0;
  }
}

@media only screen and (max-width: 768px) {
  .account-nav-right,
  .account-nav-left ul {
    display: none;
  }
  .account-nav ul {
    list-style: none;
  }
  .account-nav ul li:first-of-type {
    margin-top: 10px;
  }
  .account-nav ul li {
    display:block;
	font-size: .7em;
  }
  .main-edit-page {
    right: 70px !important;
  }
  
   .nav-mobile {
    display: block;
  }
}
