/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a{
color: white;
}

a:hover{
cursor:pointer;
opacity: .6;
text-decoration: none !important;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end reset */
body {
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: auto auto;
	font-family: sans-serif;
}

html, body, .full_wrapper, .inner_wrapper {
  /*   min-width: 1024px; */
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: none;
	
}

.full_wrapper, .inner_wrapper{
z-index: -10;
}

img {
border: none;
}

a {
	text-decoration: none;
	font-size: 1em;
}

div p{
font-family: 'museo100', 'Lato', 'Helvetica', sans-serif;}

.noscript{
background-color: FF6699;
padding: 10em;
color: white;
}



hr.style { border: 0; height: 0; border-top: 1.5px solid lightgray; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
hr.style1 { border: 0; height: 0; border-top: 1.5px solid gray;  }
hr.style2 { border: 0; height: 0; border-bottom: 1.5px solid white; }
hr.style3 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc); 
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc); 
}



.full_wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: white; 
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
	z-index: -1;
	}

.inner_wrapper{
	min-height: 100%;
	height: auto;
	height: 100%;
	margin: auto;
	vertical-align: middle;
}


.bgcontainer{
background-image: url('Images/bluechevron.png');
position: relative;
}




.form p {text-align: center;}

.form{
position: relative;
vertical-align: top;
}

	

/* Header */
#fb-root{
	margin: 0;
	padding:0;
}

.header {
   /*  min-width: 1024px; */
	opacity: 0.8;
	background-repeat: repeat;
	width: 100%;
	height: 100px;
	
	/* border-bottom: 1px solid #D3D3D3;
	margin-bottom: 0px; */ 
}

.header_main{
    /* min-width: 1024px; */
	background-repeat: repeat;
	width: 100%;
	height: 100px;
	background-color: white;
	/* border-bottom: 1px solid #D3D3D3;
	margin-bottom: 0px; */ 
}
.header_main img{
z-index: 100;
position: relative;}


.banner_container {
    left: 50%;
    margin-left: -480px;
	margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
	padding-bottom:0;
    position: absolute;
    width: 960px;
    height: 50px;
	z-index: 10;
}

.logo_container{
	padding: 1em;
}
.logo_container_main{
	padding: .5em;
}
.logo_container_main p{
	text-align: left;
	padding-left: .6em;
}

/* Login/Logout Popup */
a.fancybox_logout, a.fancybox{
	font-size: 1em;
	font-family: 'Merriweather', sans-serif;
	display: inline;
	margin:0;
	background-color: #CC0033;
	padding: .5em;
	border-radius: .3em;
	color: white;
}

a.fancybox {
	font-size: 1em;
	font-family: 'Merriweather', sans-serif;
	display: inline;
	margin:0;
	}



.nav_bar {
	display: inline-block;
	*display: inline;
    zoom: 1;
	padding-top: 5px;
	background-color: #ffffff;
	margin: 0;
	}

.nav_bar li{
	display:inline;
	list-style-position: outside;
	list-style-type: none;
	padding-right: 40px;
	}

.nav_bar a{
	font-family: 'Merriweather', sans-serif;
	color: #000000;
	font-size: .8em;
}

.login_button{
display: inline-block;
*display: inline;
    zoom: 1;
}

.login_button_main{
width: 100%;

display: inline-block;
*display: inline;
    zoom: 1;
position: absolute;
top: 25px;
}

.push {
	height: 70px; /* .push must be the same height as .footer */
}

.footer {
	background-color: #000000;
	height:100px;
	clear:both;
	width: 100%;
	min-height: 100px;
	opacity:1;
	overflow: hidden;
	 padding-bottom: 10px;
	 padding-left: 0;
	 padding-right: 0;
	 padding-top: 0;
	 z-index: 1;
	 }

.block { 
	padding-top: 10px;
	padding-left: 50px;
	margin-left: 30px;
	font-size: .75em;
	width: 40%; 
	float:left;
	text-align: left;
	vertical-align: top;}
	
.block h3{
	font-size: 1.5em;
	font-family: 'Merriweather', 'century gothic' sans-serif;
	text-shadow: 0px 1px .2px rgba(255,255,255,1);
	margin-bottom: 5px;
	margin-top: 0px;
	}
	
.block ul {
	   padding-bottom: 0px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	list-style-type: none;
}

.block ul li{
	margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 10px;
    padding-top: 5px;
	font-family: 'open sans condensed',  sans-serif;
	display:inline;
	}

.block ul li a{
color: white;
}
	
	
section p {
font-family: 'Open Sans';
font-size: .9em;
padding:0;
margin:0;
vertical-align:top;
}
	
.block2 {
	padding-top: 20px;
	padding-right:50px;
	width: 30%; 
	float: right;}

.block2 ul {
	padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	list-style-type: none;
}

.block2 ul li{
	margin-top: 20px;
	display:inline;
	list-style-position: outside;
	list-style-type: none;
	padding-right: 40px;
	font-size: .8em;
	}



/* homepage */


.menu_bar{
padding: 1em;
display: inline;
} 

.menu_bar a:hover{
text-decoration: underline;
}

.menu_bar li{
padding-left: 1em;
padding-right: 1em;
}




.coverimage{
	min-height: 420px;
	display: block;
/* 	min-width: 1024px; */
	width: 100%;
}

.coverimage{
	background-image: url('Images/flowerbg.jpg'); 
	background-repeat: no-repeat;
	width: 100%;
	position: relative;
	padding:0;
	margin: auto;
	overflow: hidden;
	background-size: cover;
}


.navmenu, #pull, #pull2{
display: none;
}


.logo{

	}



/* .hero_text {
	
	position: absolute; 
	top: 150px;
	width: 100%;
	text-align: center;
		} */

.hero_text{
height: 100%;
width: 38%;
position: absolute;
left: 110px;
background-color: white;
position: block;
}

	


.desc_subtitle {
padding-top:10px;
padding-bottom: 10px;
margin:0;
font-family: 'Merriweather', sans-serif;
font-size:1.5em;
text-shadow: 0px 1px 0.8px  #F5FFFA;
vertical-align: top;
}

.desc_container p {
font-size: .9em;
font-family: "Open Sans";
}

#header_left{
text-align: left;
height: 80px;
padding-bottom: 70px;}

.desc_header {
font-family: 'Merriweather', sans-serif;
font-size: 3em;
}

#header_left p {
font-family: 'Open Sans';
font-size: 1.5em;
}
.circle{
height: 150px;
width: 150px;
border-radius: 50%;
display: inline-block;
}



/* Home Page for Users */



#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 20em;
  left: 40em;
  z-index: 100;
}

#overlay{
display:none;
position: absolute;
top:0px;
left: 0px;
width: 100%;
height:100%;
text-align: center;
z-index: 999;
vertical-align: middle;
}

.trellis{
background-image:url('Images/chevron.jpg');
}
#overlay .boxoverlay{
margin: auto;
width: 50%;
background-image:url('Images/chevron.jpg');
text-align: center;
vertical-align: middle;
margin: 15px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;
border-radius: 5px;
display: inline-block;
background-clip: padding-box;
-webkit-appearance: none;
-moz-background-clip: padding;
-webkit-background-clip: padding;
border: 30px solid rgba(0,0,0,0.3);
}
#overlay .boxoverlay div{
position: relative;
}

#overlay .close{
position: absolute;
top: 0px;
left: 0px;
}

#overlay input[type=text] {
text-align: center;
font-size: 1em;
padding: .3em;
font-family: 'Open Sans', sans-serif;
-webkit-box-shadow: inset 2px 2px 2px 0px #000000;
    -moz-box-shadow: inset 2px 2px 2px 0px #000000;
    box-shadow: inset 2px 2px 2px 0px #000000;
}

.bgcontainer  input[type=text], .bgcontainer input[type=password] {
vertical-align: top;
font-size: .9em;
padding: .4em;
font-family: 'Open Sans', sans-serif;
-webkit-box-shadow: inset 2px 2px 2px 0px #000000;
    -moz-box-shadow: inset 2px 2px 2px 0px #000000;
    box-shadow: inset 2px 2px 2px 0px #000000;
	width: 90%;
}



/* Tabs */

#tabs { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: .1em dotted lightgray; 
	margin-bottom: 10px;
} 
#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-active { 
     border: none; 
	z-index:999;
} 
#tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
	font-family: 'Open Sans Condensed',  sans-serif;
	font-weight: 300;
	font-size: 1.2em;
} 
#tabs .ui-tabs-nav .ui-state-active a { 
    color: #91c5c5;
	font-family: 'Open Sans Condensed',  sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	}

#tabs .ui-tabs .ui-state-disabled { 
    display: none; /* disabled tabs don't show up */ 
} 

.ui-widget-content a{
color: white;
}

#tabs li{ 
display: inline-block;
*display: inline;
    zoom: 1;
*display: inline;
    zoom: 1;
padding: .6em;
margin-top: .5em;
}




#tabs2 { 
    background: transparent; 
    border: none; 
		} 

#tabs2 .ui-tabs-nav{
text-align: center; }

#tabs2 .ui-widget-header { 
    background: transparent; 
    border: none; 
 	margin-bottom: 10px;
	text-align: center;
} 
#tabs2 .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs2 .ui-tabs-nav .ui-state-active { 
     border: none; 
	z-index:999;
	} 
#tabs2 .ui-tabs-nav .ui-state-default a { 
    color: #gray; 
	font-family: 'Open Sans Condensed',  sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	padding-bottom: 10px;
	padding-top: 0px;
} 
#tabs2 .ui-tabs-nav .ui-state-active a { 
    color: #00CDBF;
	border-bottom: 1px solid #00CDBF;
	font-family: 'Open Sans Condensed',  sans-serif;
	font-weight: 300;
	font-size: 1.5em;
	padding-bottom: 10px;
	padding-top: 0px;
	
	}

#tabs2.ui-tabs .ui-state-disabled { 
    display: none; /* disabled tabs don't show up */ 
} 

.ui-widget-content a{
color: white;
}

#tabs2 .ui-tabs-nav li{ 
 display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em; 
	padding-bottom: 0px;
}



/* Photo Selection Page	 */
img.inactive, img.inactive_one {
	border: .5em solid white;
	}
img.active:hover{

cursor: pointer;
}

img.active{
	border: .5em solid #00aebc;
	opacity: .4;
	}

div.active{
border: .5em solid #00aebc;
opacity: .4;
}

div.active:hover{
cursor:pointer;
}

img.active1{
border: 5px solid #00aebc;
}

/* General CSS */

/* Fonts */

.serif{
font-family: 'Merriweather', serif;
}

.bold{
font-weight: 700;}

.italic{
font-weight: 300;}

.sans-serif{
font-family: 'Open Sans', sans-serif;
}

.sanslight{
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

.condensed{
font-family: 'Open Sans Condensed',sans-serif;
}
.cursive{
font-family: 'Arizonia', cursive;
}
.shadow{
text-shadow: 1px 1px #D8D8D8 , -1px -1px #383838 }

/* Font Size */

.extralarge{
font-size: 96px;
line-height: 97px;
}
.large{
font-size: 64px;
line-height: 65px;
}

.midlargeplus{
font-size: 48px;
}
.midlarge{
font-size: 36px;
}

.medium{
font-size: 24px;
}

.midsmall {
font-size: 18px;
}

.small {
font-size: 14px;
line-height: 17px;
}

.strike{
text-decoration: line-through;
}


.space{
line-height: 1.4em;}

/* Aligns */

.top{
vertical-align: top;
}
.middle{
display: table-cell;
vertical-align: middle;
}

.center{
text-align: center;
}

.left-align{
text-align: left;
}

.right-align{
text-align: right;
}

.left{
float: left;
margin-left: 3em;
}

.right{
float: right;
margin-right: 3em;
}
.aligned{
height: 40px;
line-height: 40px;

}

/* Background Colors */

.gray{
background-color: gray;}
.light_gray{
background-color:rgb(245, 245, 244) ;}
.blue{
background-color: #00CDBF;}
.pink {
background-color: #FF31B5;
}
.white{
background-color: white;
}
.green{
background-color: #483D8B;}
.translucent{
opacity: .5;
}
.translucent2{
opacity: .7;
}
.tan{
background-color: #BCB2A8;}

/* Text Colors */
.gray_text{
color: gray;}
.dark_gray_text{
color: #505050 ;}
.blue_text{
color: #00CDBF}
.pink_text{
color: #F74D76;}
.white_text{
color: white;}

.black_text{
color: black;}
.tan_text{
color: #D3CCC4;
}

/* Formatting */

.centerline { 
	position: relative;
     top: -1em;
     text-align: center; 
 } 
.centerline span { 
	  margin-left: auto;
     margin-right: auto;
     padding-left: 0.5em;
     padding-right: 0.5em; }
	 
	 
.negative{
margin-top: -30px}


.inline{
display: inline-block;
*display: inline;
    zoom: 1;
*display: inline;
    zoom: 1;
}
.clear{
clear: both;
}
.border
{border: 1px solid lightgray;
padding: 1em;}
.doubleborder{
border: 1px double gray;
outline: 1px solid gray;
outline-offset: -9px;
padding: 1em;}

.auto{
margin: auto;
}


.padding{
padding: 3em;
}


.padding_tiny{
padding: .5em;
}

.padding_small{
padding: 1em;
}

.padding_small_sides{
padding-left: 1em;
padding-right: 1em;
}

.padding_small_top{
padding-top: 1em;
padding-bottom: 1em;
}

.padding_left{
padding-left: 100px;
}

.padding_right{
padding-right: 100px;
}
.margin_left{
margin-left: 100px;
}

.margin_right{
margin-left: 100px;
}

.cover{
/* min-width: 1024; */
padding: 0;
}

.front{
position: relative;
z-index: 999;
}

.back{
position: relative;
z-index: 0;
}

.relative{
position: relative;
}

.horizontal{
width: 100%;
}
.block{
margin: 0;
display: block;
vertical-align: middle;
}

.absolute{
position: absolute;
top:1em;
left: 7em;
z-index: 999;
background-color: white; 
opacity: .8;
width: 80%;}



/* Widths */
.third{
width: 25%;
}

.half {
width: 45%;
display: inline-block;
*display: inline;
    zoom: 1;
margin-right: 16px;
}

.half2{
width: 48%
}

.forty{
width: 40%;
margin-right: 2em;
}

.sixty{
width: 60%;
}

.seventy{
width: 70%;
display: inline-block;
*display: inline;
    zoom: 1;
}

/* Button */
.button1{
padding: .3em;
border-radius: .3em;
/* color: #FFFFFF; */
display: inline-block;
*display: inline;
    zoom: 1;
*display: inline;
    zoom: 1;
text-align: center;
vertical-align: middle;}
.button1:hover{
opacity:.8;
}

.button2{
padding: .8em;
border-radius: .3em;
color: #FFFFFF;
display: inline-block;
*display: inline;
    zoom: 1;
*display: inline;
    zoom: 1;
text-align: center;
vertical-align: middle;}
.button2:hover{
opacity:.8;
}

.button3{
margin: 0;
padding: 10px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
-ms-border-radius: 7px;
-o-border-radius: 7px;
border-radius: 7px;
display: inline-block;
background-color: #F74D76;
background-clip: padding-box;
color: white;
-webkit-appearance: none;
-moz-background-clip: padding;
-webkit-background-clip: padding;
 border: 7px solid rgba(247,77,118,0.2);
 z-index:999;
}
.button3:hover{
cursor: pointer;
opacity: .6;
}

.button4{
margin: 0;
padding: 10px;
display: inline-block;
background-clip: padding-box;
-webkit-appearance: none;
-moz-background-clip: padding;
-webkit-background-clip: padding;
 z-index:999;
}
.button3:hover{
cursor: pointer;
opacity: .8;
}


/* New Contest Form */
.color{
display: inline-block;
*display: inline;
    zoom: 1;
*display: inline;
    zoom: 1;
height: 8em;
width: 8em;
border: .5em solid white;
}

.color:hover{
cursor: pointer;
}
.status_change label{
font-family: 'Merriweather', serif;
font-size: 2em;
}

#status{
width: 30%;
font-family: 'Merriweather', serif;
font-size: 2em;
border: 1px solid gray;
padding: .2em;
margin: .2em;
}

#first_photo, #second_photo{
display: inline-block;

*display: inline;
    zoom: 1;
vertical-align: top;
}


.error {
font-family: 'Open Sans';
text-align: center;
width: 90%;
border: 1px solid red;
border-radius: 5px;
color: red;
font-size: .7em;
margin: 10px;
padding: 10px;
}

#room_photo1, #room_photo2{
	position:absolute; top:0; left:0;
	opacity:0;
	width: 5%;
	margin:0;
	width: 30%;
}
#style_pics div {
display: inline;
}

#sizes input[type=text]{
font-family: 'Open Sans';
font-weight: 300;
margin: .5em;
font-size: 1.5em;
color: lightgray;
padding: .3em;
border-radius: .2em;
}

#information input[type=text] , #information input[type=password]{
font-family: 'Open Sans';
font-weight: 300;
font-size: 0.8em;
color: lightgray;
margin-bottom: .5em;
padding: .15em;
width: 40%;}

.forminput{
font-family: 'Open Sans';
font-weight: 300;
font-size: 0.8em;
color: lightgray;
margin-bottom: .5em;
padding: .15em;
width: 10%;}

#room_photo1{
display:none;
}

#address{
width: 40%;
}

#about{
vertical-align: top;
font-family: 'Open Sans';
font-weight: 300;
font-size: 1.5em;
margin-top: .3em;
color: lightgray;
width: 100%;
padding: .3em;
border-radius: .5em;
text-align: center;
}

#style_pics, #room_type, #style_pics label {
font-family: 'Open Sans', sans-serif;
font-size: 1em;
font-weight: 300;
color: #505050;
vertical-align: middle;
}
#social label{
font-family: 'Open Sans Condensed', sans-serif;
font-size: 20px;
height: 24px;
padding: 4px;
}


#social input[type=text]{
font-family: 'Open Sans', sans-serif;
font-size: 16px;
height: 80px;
padding: 4px;
width: 70%;
color: gray;
}

.inputs, .labels{
display: inline-block;
*display: inline;
    zoom: 1;
/* vertical-align: top; */
}

.labels{
text-align: right;
}

.inputs{
text-align: left;
margin-left: 1em;
}

.labels label{
font-size: 1.5em;
}



#image{
display: inline-block;
*display: inline;
    zoom: 1;
vertical-align: middle;
margin: 1em;
}


.continue,.intro{
position: fixed;
bottom: 0;
background-color: #F0F0F0;
padding:0;
margin:0;
}


.form_container {
padding-top: 20px;
/* background-image: url('Images/debut_light.png'); */
font-family: 'Open Sans';
vertical-align: top;
text-align: center;
min-height: 20em;
}


.form_container label {
font-family: 'Open Sans', sans-serif;
}

.form_container a {
font-family: 'Merriweather', sans-serif;
cursor: pointer;
}

/* How we work */

#howwework{
background-image:none;
background-repeat: none;
width: 100%;
height: 150px;
position: relative;
background-size: cover;

}
#howwework a:hover{
opacity:.4;
}

.linkboxes{
height: 110px;
}

#abouttheteam{
background-image: url('Images/Lampbg.jpg');
background-repeat: none;
background-size: cover;
width: 100%;
position: relative;
}

tr, td{
vertical-align: middle;
}

#abouthero{
position: absolute;
top: 150px;}


span.qq-drop-processing{
display: none;
}


.survey_step{
list-style-type: none;
text-align: center;
position: relative;
}

ul.survey_step li  {
display: inline-block;
color: #ccc;
border: solid 1px #ccc;
border-radius: 32px;
height: 32px;
width: 32px;
font-size: 20px;
line-height: 32px;
}

.survey_step .active{
color: white;
background-color: gray}

.browsable {
cursor: pointer;
}



.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


.infosection{
padding: 20px;
}