/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a:hover{
cursor:pointer;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	height: 100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */
body {
    background-attachment: scroll;
    background-clip: border-box;
	background-image: url('Images/linen_bg.fw.png');
    background-origin: padding-box;
    background-repeat: repeat;
    background-size: auto auto;
	font-family: sans-serif;
}

html, body {
    min-width: 1024px;
	height: 100%;
	margin: 0;
	padding: 0;
}

img {
border: none;
}

a {
	text-decoration: none;
	color:  #707070 ;
	font-size: 1em;
}

/* tabs */


#tabs { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
	margin-bottom: 10px;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-active { 
    background: transparent url('Images/uiTabsArrow.png.png') no-repeat bottom center; 
    border: none; 
} 
#tabs .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
	font-family: 'Quicksand';
	font-size: .8em;
} 
#tabs .ui-tabs-nav .ui-state-active a { 
    color: #00CCCC;
	font-family: 'Quicksand', sans-serif;
	font-size: .8em;
}

#tabs .ui-tabs .ui-state-disabled { 
    display: none; /* disabled tabs don't show up */ 
} 


#tabs1 { 
    background: transparent; 
    border: none; 
} 
#tabs1 .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #888888; 
	margin-bottom: 10px;
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 
#tabs1 .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; padding: 5px;
} 
#tabs1 .ui-tabs-nav .ui-state-active { 
    order: none; padding: 5px;
} 
#tabs1 .ui-tabs-nav .ui-state-default a { 
    color: #888888; 
	font-family: 'Quicksand';
	font-size: 1em;
	padding: 5px;
} 
#tabs1 .ui-tabs-nav .ui-state-active a { 
    color: #00CCCC;
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
	padding: 5px;
}

#tabs1.ui-tabs .ui-state-disabled { 
    display: none; /* disabled tabs don't show up */ 
} 


.basic_text { 
font-family: 'Sanchez';
font-size: 1em;
}

/* Button Styling */
.navigation1 {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:'Quicksand', sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}.navigation1:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.navigation1:active {
	position:relative;
	top:1px;
}


hr.style { border: 0; height: 0; border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
hr.style1 { border: 0; height: 0; border-top: 1.5px solid rgba (0, 0, 0, 0.5); border-bottom: 1.8px solid rgba(255, 255, 255, 0.9); }
hr.style2 { border: 0; height:0; border-top: 2px dotted #00CCCC; padding: 0; margin: 5px 0 0 0;}

div p{
font-family: 'quicksand', sans-serif;
padding-top: 30px;}

.form p {text-align: center;}

.form{position: relative;
vertical-align: top;}

.full_wrapper {
	width: 90%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: white; 
	margin: 0 auto -100px; /* the bottom margin is the negative value of the footer's height */
	z-index: -1;
	}

.inner_wrapper{
width: 95%;
min-height: 100%;
height: auto;
height: 100%;
margin: auto;
vertical-align: top;
}
	

/* Header */
#fb-root{
	margin: 0;
	padding:0;
}

.header {
    min-width: 1024px;
	opacity: 0.8;
	background-repeat: repeat;
	width: 100%;
	height: 50px;
	background-color: white;
	/* border-bottom: 1px solid #D3D3D3;
	margin-bottom: 0px; */ 
}

.banner_container {
    left: 50%;
    margin-left: -480px;
	margin-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
	padding-bottom:0;
    position: absolute;
    width: 960px;
    height: 50px;
	z-index: 10;
}

.banner_container a {
	text-decoration: none;
	color:  #707070 ;
	font-size: .5em;
	margin-bottom:0;
}

/* Login/Logout Popup */
a.fancybox_logout{
	margin-left: 30px;
	padding: 5px;
	background: #ffffff;
	border: 1px solid gray;
	border-radius: 6px;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	display: inline;
	margin:0;
}

a.fancybox {
	margin-left: 30px;
	padding: 5px;
	background: #ffffff;
	border: 1px solid gray;
	border-radius: 6px;
	font-size: 1em;
	font-family: 'Quicksand', sans-serif;
	display: inline;
	margin:0;}

.logo_container {
	margin:20px 40px 10px 10px;
	display: inline-block;
	}

a.logo {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 1.7em;
	color: #000000;
	margin: 30px;
	display: inline;
	margin:0;
	}

.nav_bar {
	display: inline-block;
	padding-top: 5px;
	background-color: #ffffff;
	margin: 0;
	}

.nav_bar li{
	display:inline;
	list-style-position: outside;
	list-style-type: none;
	padding-right: 40px;
	}

.nav_bar a{
	font-family: 'Quicksand', sans-serif;
	color: #000000;
	font-size: .8em;
}

.login_button{
display: inline-block;
float: right;
}
/* Actual Fancybox */
.fancybox_div{
	width: 300px;
	height: 200px;
	padding: 50px;
	background-image: url('Images/linen_pop_up.fw.png');
	background-color: #FFFFFF;
	border: 4px solid white;
	font-family: 'Quicksand', sans-serif;
	text-align:center;
	margin-bottom: 0px;
}

.fancybox_div #login_title{
font-size: 1.5em;
color: dark gray;
padding: 20px;
}

.fancybox_div #login_text{
font-size: 1.2em;
color: black;
padding: 20px;
}


.push {
	height: 100px; /* .push must be the same height as .footer */
}

.footer {
	background-color: #99FFFF;
	height:100px;
	clear:both;
	width: 100%;
	min-height: 100px;
	opacity:1;
	overflow: hidden;
	 padding-bottom: 10px;
	 padding-left: 0;
	 padding-right: 0;
	 padding-top: 0;
	 z-index: 1;
	 }

.block { 
	padding-top: 10px;
	padding-left: 50px;
	margin-left: 30px;
	font-size: .75em;
	width: 40%; 
	float:left;
	text-align: left;
	vertical-align: top;}
	
.block h3{
	font-size: 1.5em;
	font-family: 'Quicksand', sans-serif;
	text-shadow: 0px 1px .2px rgba(255,255,255,1);
	margin-bottom: 5px;
	margin-top: 0px;
	}
	
.block ul {
	   padding-bottom: 0px;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	list-style-type: none;
}

.block ul li{
	margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 5px;
	font-family: 'Quicksand', sans-serif;
	font-size: 1.3em;
	display:inline;
	}

section p {
font-family: 'Sanchez';
font-size: .9em;
padding:0;
margin:0;
vertical-align:top;
}
	
.block2 {
	padding-top: 20px;
	padding-right:50px;
	width: 40%; 
	float: right;}

.block2 ul {
	padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	list-style-type: none;
}

.block2 ul li{
	margin-top: 20px;
	display:inline;
	list-style-position: outside;
	list-style-type: none;
	padding-right: 40px;
	font-size: .8em;
	}



/* homepage */
#main_content{
padding:15px 0 0 0 ;
margin: 0;
vertical-align: top;
}
#slideshow{
       	padding:0;
		width: 100%;
		margin: auto;
     	z-index: 0;
		position: relative; top: 0px; left: 0px;
}

img.bgM {
width: 100%;
padding:0;
margin: auto;
z-index:0;
}
p span {
color: #CC0033;
}

.hero_text {
	font-family: sans-serif;
	position: relative; 
	margin-top: 250px;
	margin-left: 100px;
	padding: 20px;
	width: 400px;
	min-height:80px;
	background-color: #FFF;
	opacity:0.7;
	}

.hero_text #hero_text_1{
	margin-left: 30px;
	font-size: 2em;
	color: #000000;
	padding:5px;
	margin-bottom:0;
	font-family: 'Quicksand', sans-serif;}

.hero_text span{
	color: #CC0033;
	}

.hero_text p {
	padding:0;
	margin-top: 15px;
	margin-bottom:5px;
	margin-left: 35px;
	font-size: 1.2em;
	font-family: 'Sanchez'
	}

p.small {
font-size: .8em;
}
.hero_text input {
	font-family: sans-serif;
	font-size: .8em;
	margin-left: 30px;
	width: 300px;
	height: 25px;
	padding: 10px;
	background-color: #FFF;
	color: gray;
}	


.push_down{
	height: 100px;
}

.desc_container{
	width: 100%;
	background-color: white;
	min-height: 260px;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 20px;
	color: gray;
	margin: auto;
}

.desc_subtitle {
padding-top:10px;
padding-bottom: 10px;
margin:0;
font-family: 'Quicksand', sans-serif;
font-size:1.1em;
text-shadow: 0px 1px 0.8px  #F5FFFA;
vertical-align: top;
}

.desc_container p {
padding: 5px;
font-size: .9em;
font-family: "Sanchez";

}
#header_left{
text-align: left;
height: 80px;
padding-left: 50px;
padding-bottom: 70px;}

.desc_header {
font-family: 'Quicksand', sans-serif;
font-size: 2em;
padding-left: 7px;
}

#header_left p {
font-family: 'Sanchez';
font-size: 1.5em;
}

#left {
	
	margin-right: 50px;
	width: 25%;
	display: inline-block;
	text-align:center;
	vertical-align: top;
}

#right {
	width: 25%;
	display: inline-block;
	text-align:center;vertical-align: top;
}

#middle{
	width: 25%;
	display: inline-block;
	text-align:center;
	margin-right: 50px;
	margin-top: 5px;
	vertical-align: top;
}

/* Home Page for Users */
.home_header{
width: 100%;
}

#home_contest_container, #home_photo_container{
background-image: url('Images/white_wall.png');
text-align: center;
width:95%;
}

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center;
}

#loading-image {
  position: absolute;
  top: 200px;
  left: 640px;
  z-index: 100;
}

#contest_head{
font-size: 1.4em;
font-family: 'Quicksand', sans-serif;
color: #00CCCC;
margin-top: 10px;
text-shadow: 0px 1.3px 0px rgba(255, 255, 255, 1);
}



/* Div for each photo */
.user_photos {
position: relative;
margin:0;
padding: 0;
display: inline-block;
}


/* Add Icon */
.photo_hidden {
position: absolute;
top: 10px;
left: 10px;
display: block;
z-index: 999;
}
/* Delete Icon */
.photo_hidden2 {
position: absolute;
top: 10px;
left: 50px;
display: block;
z-index:999;
}

/* For the contest section - photos */
.home_user_contest{
	position: relative;
	top:0;
	left: 0;
    -webkit-box-shadow: 
                0 0 16px rgba(0,0,0,0.3); 
    -moz-box-shadow: 
                 0 0 16px rgba(0,0,0,0.3); 
    box-shadow: 
                 0 0 16px rgba(0,0,0,0.3); 
    padding: 15px;
    margin: 20px 20px 20px 0;
	display: inline-block;
	background-color: #ffffff;
		}
		
.home_user_contest:hover{
opacity:0.5;
}

/* Title for each contest */
#title_contest_div{
position: absolute;
top:200px;
background-color: white;
width: 80%;
min-height: 20px;
padding: 10px;
 }

#title_contest{
font-size: 1em;
font-family: 'Sanchez';
position:absolute;
left: 40px;
color: black;
}



/* Pics divs */
.home_user_pics, .contest_user_pics1, .contest_user_pics2{
	position: relative;
	top:0;
	left: 0;
	border: 5px solid white; 
   	margin: 8px;
	display: inline-block;
	color: #888;
	font-size: 1em;
	background-color: #ffffff;
	}
	
/* Design Pics Div */
.design_pics{
	border:5px solid white;
	position: relative;
	display: inline-block;
	}

.home_user_pics:hover{
	opacity: .5;
}

/* Home Page Nav */
#users_nav{
	width: 100%;
	height: 80px;
	text-align: center;
	background-image:none;}

#button_nav {
	width: 100%;
	height: 80px;
	margin: auto;
	background-color:  #F8F8FF;	
	font-family: 'Sanchez';
}

/* Add picture/Contest Buttons */
#add_button_left, #photo_submit{
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right:0px;
	display: inline-block;
	width: 15%;
	border-right: 1px solid lightgray;
	font-size: .8em;
	text-shadow: 0px 1px 0.5px rgba(255,255,255,0.9);
	min-height: 50px;
}



#add_button_left img
{
	padding: 5px;
}
#add_button_right, #photo_cancel{
	min-height: 50px;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left:0px;
	display: inline-block;
	width: 15%;
	font-size: .8em;
	text-shadow: 0px 1px 0.5px rgba(255,255,255,0.9);
}
#add_button_right img
{
	padding: 5px;
}

div #add_button_left:hover, #photo_submit:hover{
	background-color: #D3D3D3;
}


div #add_button_right:hover, #photo_cancel:hover{
	background-color: #D3D3D3;
}


/* Photo Selection Page	 */
img.inactive {
	border: 10px solid white;
	margin:10px;
}
img:hover{
opacity:0.6;
cursor: pointer;
}


img.active {
	border: 10px solid #00CCCC;
	margin: 10px;
	}

img.active1{
border: 5px solid #00CCCC;
}

#selected{
border: 1px solid black;
}

#button_container {
	width:100%;
	text-align: center;
	padding-top: 15px;
}

#select_photo_nav {
	width: 100%;
	height: 85px;
	margin: auto;
	padding: 15px;
	-webkit-box-shadow: 
                0 0 16px rgba(0,0,0,0.3); 
	-moz-box-shadow: 
                 0 0 16px rgba(0,0,0,0.3); 
    box-shadow: 
                 0 0 16px rgba(0,0,0,0.3);
	background-color:  #F8F8FF;		
	font-family: 'Quicksand', sans-serif;	
	text-align: center;
}


/* Photo Upload Form */

.upload_form_container, #contest_inspr_photos{
	text-align: center;
	padding: 10px;
	width: 90%;
	background-color: #ffffff;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;
	border: 1px solid lightgray;
	background-image:url('Images/debut_light.png');
	position: relative;
}



.upload_form_container p, #contest_inspr_photos p{
	font-family: 'Quicksand', sans-serif;
	font-size: 1em;
}


.error {
font-family: 'Sanchez';
text-align: center;
width: 90%;
border: 1px solid red;
border-radius: 5px;
color: red;
font-size: .7em;
margin: 10px;
padding: 10px;
}



.upload_form_container input[type="text"] { 
	border: 1px solid lightgray; 
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
	background-color: white;  
	margin: 10px 10px 10px 0;
	width: 90%;
	padding: 10px;
	display: inline-block;
	color: #888;
	font-size: .7em;
	font-family: 'Quicksand', sans-serif;
}


.input_photo
{
	border: 1px solid lightgray; 
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
	background-color: white;  
	width: 60%;
	padding: 10px;
	color: #000;
	font-size: .7em;
	font-family: 'Quicksand', sans-serif;
	margin: auto;
	margin-bottom: 10px; margin-top:10px;
	}

#inspr_photo_link1, #inspr_photo_link2, #inspr_photo_link3
{width: 60%;
	margin-bottom: 10px; margin-top:0px;
	}

#inspiration .right_form_1 div{

}

.file_hidden, #file1, #file2, #file3, #file4, #file5, #file11, #file21, #file31, #file12, #file13{
	position:absolute; top:10; left:10;
	opacity:0;
	width: 5%;
	margin:0;
}

#photo_cover
{ width: 70%;
}

#browse {
margin: 0;
padding: 11px 10px 11px 10px;
height: 18px}

.photo_form {
	width: 45%;
	padding-top: 30px;
	padding-bottom: 0px;
	display: inline-block;
	}


/* Contest Upload Form */


.contest_form_container {
	text-align: center;
	width: 100%;
	margin-left:auto;
	margin-right: auto;
	margin-top: 20px;
	}
.title {
padding: 10px;
font-family: 'Quicksand', sans-serif;
font-size: 1.4em;
}

.text  {
padding: 0px 0 40px 0;
font-family: 'Sanchez';
font-size: .7em;
}

.text1  {
padding: 0px 0 10px 0;
font-family: 'Sanchez';
font-size: .9em;
}

.contest_form_container  span {
color: #CC3366;
}

.form_container {
padding: 20px;
background-image: url('Images/debut_light.png');
font-family: 'Sanchez';
vertical-align: top;
}

.form_container_center {
padding: 20px;
background-image: url('Images/debut_light.png');
font-family: 'Sanchez';
vertical-align: top;
text-align: center;
margin: auto;
margin-top: 2em;
width: 80%;
border: 5px solid lightgray;
}

.form_container label {
font-family: 'quicksand';
font-size: .9em;
}

.uploaded_icon{
position: absolute; top: 2px; left: 2px;
opacity: 0;
}

.uploaded_icon:hover{
opacity: 1;
}


.first_row{
margin: 0px 0 10px 0;
}
.contest_form_container label{
	font-size: .9em;
	margin: 0 10px 20px 0;
	}

.contest_form_container input, .contest_form_container select{
	border: 1px solid lightgray; 
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    margin: 10px 10px 10px 0;
	width: 90%;
	padding: 10px;
	display: inline-block;
	color: #888;
	font-size: .7em;
	font-family: 'Quicksand', sans-serif;
}



.contest_form_container textarea{
border: 1px solid lightgray;
color: #888;
font-family: 'Quicksand';
font-size: .7em;
-webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
}
#browse_file{
margin-top: 20px;
margin-right: 50px;
}
#sqfoot {
width: 20%;}

#dtool{
width: 60%;
height: 30px;
padding: 5px;}

#second_row	{
clear: both;
position: relative;
padding:20px;
min-height: 50px;
}

#room_photos, #inspiration{
text-align:center;
}


#room_photos input[type="text"]{
width: 30%;}

.left_form{
width: 45%;
border-right: 1px solid lightgray;
padding: 10px;
display: inline-block;
}

.right_form{
width: 45%;
border-left: 1px solid lightgray;
padding: 10px;
font-family: 'Quicksand', sans-serif;
display: inline-block;

}

.form_container a {
font-family: 'Quicksand', sans-serif;
padding: 20px;
color: #00CCCC;
cursor: pointer;
}


.right_form_1 {
vertical-align: top;
width: 45%;
display: inline-block;
margin: 0 10px 0 10px;
text-align: center;
}


.left_form_1 {
width: 45%;
display: inline-block;
margin: 0 30px 0 0;
text-align: center;	
position: relative;
}

#room_photos .form_container div{
position: relative;
}
.select_container label{
font-family: 'Quicksand', sans-serif;
font-size: 1em;
display: inline;
}

.select_container input[type="text"]{
font-family: 'Quicksand', sans-serif;
font-size: 1em;
width: 40%;
}

#inspiration .right_form_1, #inspiration .left_form_1{
border: 1px solid lightgray;
padding-bottom: 2em;
}

.uploaded_images{
position: relative;
height: 80px;
display: inline-block;
margin-right: 10px;
}

#photo_popup{
background-color: #00CCCC;
color: white;
font-size: .9em;
padding: 7px;
}

.design_photos{
display: inline-block;
padding: 10px;
}

input[type="radio"]{
width: 10px;
padding:0;
margin-bottom: 20px;
margin-top:0px;
}

.input_photo_contest, #file1hide, #file12hide #file2hide, #file3hide,#file4hide, #file5hide, #file11hide, #file21hide, #file31hide{
	border: 1px solid lightgray; 
    -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    margin: 0px 10px 10px 0;
	width: 50%;
	padding: 10px;
	display: inline-block;
	color: #888;
	font-size: .7em;
	font-family: 'Quicksand', sans-serif;
	
	}
	
	

#key{
border: 1px solid lightgray;
padding: 10px 0 10px 0;
}	
/* Floor Plan Draw */
#container_fp { position: relative; width: 400px; height: 400px; margin: auto; 
margin-top: 30px; margin-bottom: 30px; }
#imageView { border: 1px solid #888; background-color: #FFFFFF; }
#imageTemp { position: absolute; top: 1px; left: 1px; }

a.flat{
margin: 10px;
background-color: #888;
color: white;
padding:5px;
font-family: 'Quicksand';
vertical-align: middle;
border: 1px solid white;
font-size: .8em;
cursor:pointer;
}

.close {font-family: 'Quicksand', sans-serif;
color: lightgray;
font-size: 2.5em;
position: absolute; top: 0px; left: 0px;
border-right: 1px solid lightgray;
border-bottom: 1px solid lightgray;
cursor: pointer;
padding: 10px;
}

.close1 {font-family: 'Quicksand', sans-serif;
color: lightgray;
font-size: 2.5em;
position: absolute; top: 10px; left: 20px;
border: 1px solid lightgray;
cursor: pointer;
padding: 10px;
}

input.flat2{
margin: 10px;
background-color: #00CCCC;
color: white;
padding:5px;
font-family: 'Quicksand';
vertical-align: middle;
border: 5px solid white;
cursor: pointer;
font-size: 1em;
}

a.flat2{
margin: 10px;
background-color: #00CCCC;
color: white;
padding:5px;
font-family: 'Quicksand';
vertical-align: middle;
border: 5px solid white;
cursor: pointer;
font-size: 1em;
}

#contest_submit {
width: 150px;
position: absolute; bottom: 5px; right: 20px;
}

#clear{
position: absolute; left:30px; top: 410px;
}
#image_save{
position: absolute; right:30px; top:410px;
} 

/* View Contests */
.view_container{
border: 3px solid lightgray;
background-image: none;
padding: 15px;
margin: 0 0 0 0;
background-color: white;
}
#room_details span{
color: #CC0033;
}
.project_title{
text-align: center;
}
.style_stuff{
text-align: center;
}

/* Drag and Drop */


.drag_container{
display: inline-block;
margin: 10px;
}

.draggable{
height: 50px;
}

/* Product Upload */
.container{
text-align: center;
position: relative;

}

#user_items {
display: inline-block;
vertical-align: top;
}

.item{
padding:0;
border: 1px dotted light gray;
margin: 0;
}

.hide{
display: none;
opacity:0;
}

#template{
height: 540px;
border: 1px solid lightgray;
position: relative;
vertical-align: middle;
text-align: center;
color: gray;
background-color: white;}


.drag_drop_container{
vertical-align: top;
background-image: url('Images/debut_light.png');
padding: 9px;
padding-bottom: 40px;
margin-top: 10px;
}
.drag_drop_container #tabs2{
display: inline-block;
vertical-align: top;
margin-top: 10px;
margin-left: 10px;
min-height: 200px;
width: 40%;
}


.drag_drop_container #tabs2 { 
    padding: 0px; 
    background-color: white; 
	border: 1px solid lightgray;
} 
.drag_drop_container #tabs2 .ui-tabs-nav { 
    padding-left: 0px; 
    background: none; 
	border: none;
 } 
 
.drag_drop_container #tabs2 .ui-widget-header { 
   border: none; 
}
.drag_drop_container #tabs2 .ui-tabs-nav .ui-helper-reset .ui-helper-clearfix .ui-widget-header .ui-corner-all{
border:none;
}


.drag_drop_container #tabs2 .ui-state-active,.ui-tabs-selected{
border-right: 1px solid lightgray;
border-left: 1px solid lightgray;
border-top: 1px solid lightgray;
}

.drag_drop_container #tabs2 .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
	font-family: 'Quicksand';
	font-size: .7em;
} 
.drag_drop_container #tabs2 .ui-tabs-nav .ui-state-active a { 
    color: #00CCCC;
	font-family: 'Quicksand', sans-serif;
	font-size: .7em;
}

.canvas_container{
width: 57%;
display: inline-block;
position: relative;
}


.canvas_container p{
font-size: .9em;
}

.canvas_menu{
width: 98.5%;
padding: 5px;
text-align: center;
min-height: 20px;
z-index: 40;
position: absolute;
border-bottom: 1px solid lightgray;
-moz-box-shadow:0px 0px 2px 0px #888888;
	-webkit-box-shadow: 0px 0px 2px 0px #888888;
	box-shadow: 0px 0px 2px 0px #888888;
background-color: white;
}

.canvas_menu ul {
	padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
	list-style-type: none;
}

.canvas_menu ul li{
	display: inline;
	list-style-position: outside;
	list-style-type: none;
	font-size: .5em;
	font-family: 'Sanchez';
	padding: 1em;
	}
	
	
.canvas_menu ul li a{
	border-radius: 5px;
	background-color: gray;
	color: white;
	padding: 5px
	}

.drag_drop_container #tabs2 {
font-family: 'sanchez';
font-size:.8em;
color: gray;}

#product_link
{
border: 1px solid lightgray;
width: 50%;
font-family: 'sanchez';
font-size:.8em;
color: gray;
margin: 5px;
}



#product_detail {
position: fixed;
 width: 100%;
 height: 100%;
  top: 0px;
  left: 0px;
  background-color: #888;
  opacity: 1;
  z-index: 99;
  text-align: center;
}

#product_window {
  width: 80%;
  position: absolute;
  top: 30px;
  left: 120px;
  z-index: 100;
  text-align: center;
  margin:auto;
  border: 5px solid lightgray;
  background-color: white;
}
/* Supplier section */
/* Menu bar */
#cssmenu { width: 150px;
display: inline;}

#cssmenu > ul{
	list-style: none;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	line-height: 1;
	width: 150px;
}

/* The container */
#cssmenu > ul {
	display: inline-block;
	position: relative;
	width: 150px;
}

#cssmenu > ul li {
		display: inline-block;
		position: relative;
		margin: 0;
		padding: 0;
		width: 150px;	
	}
	
	
	#cssmenu > ul li a {
			/* Layout */
			display: inline-block;
			position: relative;
			margin: 0;
			border-top: 1px dotted #fff;
			border-bottom: 1px dotted #d9d9d9;
			padding: 11px 20px;
			width: 110px;
			
			font-family:  'Quicksand', sans-serif;
			color: #00CCCC;
			text-decoration: none;
			text-transform: uppercase;
			text-shadow: 0 1px 0 #fff;
			font-size: 13px;
			font-weight: 300;

			/* Background & effects */
			background: #eaeaea;
		}
		
#cssmenu > ul li:first-child>a {
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			border-top: 0;
		}
		
#cssmenu > ul li:last-child>a {
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
			border-bottom: 0;
		}

#cssmenu > ul li>a:hover, #cssmenu > ul li:hover>a {
			color: #fff;
			text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
			background: #54cdf1;
			background: -webkit-linear-gradient(bottom, #54cdf1, #74d7f3);
			background: -ms-linear-gradient(bottom, #54cdf1, #74d7f3); 
			background: -moz-linear-gradient(bottom, #54cdf1, #74d7f3);
			background: -o-linear-gradient(bottom, #54cdf1, #74d7f3);
			border-color: transparent;
		}
		
#display_area{
display: inline-block;
position: relative;
vertical-align: top;
margin-left: 10px;
width: 80%;
}

.contest_show_container{
border: 10px solid lightgray;
width: 100%;
position: relative;
margin-bottom: 10px;
margin-left: 10px;
}

.contest_pic_container{
display: inline-block;
position: relative;
}
.contest_detail_container{
display: inline-block;
position: absolute;
top: 10px;
right: 10px;
width: 40%;
vertical-align: top;
padding: 10px;
font-family: sanchez;
font-size: .9em;
}
.contest_detail_container span{
color:#00CCCC;
}

.contest_pic{
height: 170px;
margin: 0;
display: inline-block;
}

/* Title for each contest */
.contest_name{
position: absolute;
top:120px;
background-color: white;
width: 80%;
min-height: 10px;
padding: 10px;
font-size: .9em;
font-family: 'Sanchez';
color: black;
border: none;
z-index: 999;
}

.search_bar{
position: relative;
width: 30%;
display: inline-block;
padding: 10px;
}

.display_box{
font-family: 'quicksand', sans-serif;
font-size: 1.1em;
border: 1px solid lightgray;
padding: 10px;
width: 100%;
}

.search_res{
height: 150;
width: 100%;
overflow: auto;
font-family: 'quicksand', sans-serif;
font-size: .9em;
position: absolute; left: 10px; top: 40px;
z-index: 999;
border: 1px solid lightgray;
background-color: white;
}

.drop_arrow{
position: absolute;
right: 10px;
top: 20px;
}

