@charset "utf-8";
/* CSS Document */

.error{
color:#F00;
}

.div_update_table
{
width:600px;
margin-top:50px;
margin-left:100px;
}
.div_update_row
{
	width:600px;
	
}
.div_update_col
{
width:300px;
float:left;		
		
}
#update_row_password
{
display:none;
}
#update_update
{
margin-left:150px;

}
