.about-image {
  background-image:url("../../assets/Images/teamfour1.jpg");
  height: 42em;
  background-color: black;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  margin: 0 auto;
}

.about h2 {
  background-color: rgba(255, 255, 255,.7);
  background:-webkit-linear-gradient(bottom,rgba(255, 255, 255,.7) 70%, rgba(255, 255, 255,.7) 70%);
  background:-o-linear-gradient(bottom,rgba(255, 255, 255,.7) 70%, rgba(255, 255, 255,.7) 70%);
  background:-moz-linear-gradient(bottom,rgba(255, 255, 255,.7) 70%, rgba(255, 255, 255,.7) 70%);
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 3rem;
  padding: .7em 0 .7em 0;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 10.5em;
  color: #232121;
}


.about {
  background-color: #fff;
  margin-top: -.6875em;
  text-align: center;
  min-height: 91em;
}

.about h1 {
  font-family: 'Open Sans', serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: black;
  padding-top: 2.5em;
  padding-bottom: 1em;
  max-width: 37em;
  margin: 0 auto;
}


.meet-team {
  font-family: 'Playfair Display', serif;
  font-size: 3.5rem;
  color: black;
  font-weight: 400;
}

.bio {
  height: 400px;
  width: 400px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-top: 2em;
  margin: 2em;
}


.bio img{

	position: absolute;  
    left: 0;  
    -webkit-transition: all 300ms ease-out;  
    -moz-transition: all 300ms ease-out;  
    -o-transition: all 300ms ease-out;  
    -ms-transition: all 300ms ease-out;  
    transition: all 300ms ease-out; 
	
}

/* .lee-descrip {
  margin-right: 1%;
} */

.name {
  padding-top: 2em;
  font-family: 'Playfair Display', sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 0 !important;
  line-height: .8em !important;
  padding-bottom: .2em;
	color: white;
	font-weight: 400;
}

.title{
font-size: .8em;
font-family: 'Playfair Display', serif;
}

.bio-p {
  font-size: .7rem;
  text-align: center;
  width: 79%;
 padding-top: 1em;
 margin: auto !important;
font-weight: 300;
}

.caption{
	background-color: rgba(0,0,0,0.75);
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: opacity 0.3s linear;
    text-shadow: #000 1px 1px 0;
    color: #fff;
	 	 }




.bio:hover .full-caption {  
opacity: 1.0;
}    

/* ---------------------------------------------------------------------- */
/*	Media Queries
/* ---------------------------------------------------------------------- */

@media only screen and (max-width: 568px) {
  .about {
    max-height: 98em;
  }
  .about h1 {
    font-size: 1.2rem;
  }
  .about h3 {
    font-size: 1.3rem;
  }
  .about-image {
    display: none;
  }
  .bio {
   width: 200px;
   height: 200px;
   margin: 1em;
  }
  
  .bio img {
   height: 200px;
  }

  .bio .full-caption{
  opacity: 0.8}
  
  .name {
  font-size: .3em;
  padding-top: 10px;
  }
  
  .bio-p {
  font-size: 6px;
  line-height: 100%;
  }
  
  .title{
  font-size: .6em;
  }
  
  
}
@media only screen and (min-width: 569px) and (max-width: 768px){
.about-image {
  background-image:url("../../assets/Images/teamfour1med.jpg");
 background-size: contain;
 height: 
 
}

.about h2 {
margin-top: 6em;
}


}